<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>


export default {
    name: "DashboardComponent",
}
</script>

<style scoped>

</style>
