<template>
    <div class="register-box" id="app">
        <div class="register-logo">
            <a href="#"><b>Laravel</b></a>
        </div>

        <div class="">

            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form method="post" action="" @submit.prevent="login">
                    <div class="form-group has-feedback">
                    <input id="email" type="email" class="form-control" v-model="email" name="email" placeholder="Email" required autocomplete="email" autofocus>

                </div>
                    <div class="form-group has-feedback">
                        <input id="password" type="password" class="form-control" v-model="password" name="password" placeholder="Password" required autocomplete="current-password">
                    </div>
                    <div class="row">
                        <div class="col-xs-8"></div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- /.register-box -->
</template>

<script>
export default {
    name: "LoginComponent",
    data() {
        return {
            email: '',
            password: '',
        }
    },
    mounted() {
    },
    methods: {
        login() {
            axios.post('/login', {
                email: this.email,
                password: this.password,
            }).then(response => {
                if (response.data.status) {
                    const token = response.data.token;
                    localStorage.setItem("_auth_token", token);
                    this.$router.push({ path: '/dashboard' })
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
