<template>
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>Laravel</b></a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Student Register</p>

            <form action="" method="post" @submit.prevent="register">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="name" id="name" v-model="name" placeholder="Full name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" id="email" v-model="email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password" id="password" v-model="password" placeholder="Password" autocomplete="new-password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" name="password_confirmation" placeholder="Retype password" autocomplete="new-password">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "RegistrationComponent",
    data() {
        return {
            name: '',
            email : '',
            password: ''
        }
    },
    mounted() {
    },
    methods: {
        register() {
            axios.post('/api/register', {
                name: this.name,
                email: this.email,
                password: this.password,
            }).then(response => {
                this.$router.push({ name: 'login' })
            })
        }
    }
}
</script>

<style scoped>

</style>
