<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <form method="POST" action="" @submit.prevent="updateCourse">
                <div class="row">
                    <div class="col-md-3 col-lg-3"></div>
                    <div class="col-md-6 col-lg-6">
                        <h3 class="box-title">
                            <router-link to="/course" class="btn btn-info pull-right"><i class="fa fa-angle-double-up"></i> Back to List</router-link>
                        </h3>
                        <div class="panel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="with-help">Course</label>
                                            <select class="form-control" name="course_id" v-model="unit.course_id" id="course_id">
                                                <option value="">Select Course</option>
                                                <option v-for="course in courses" :key="course.id" v-bind:value="course.id">
                                                    {{ course.code }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="with-help">Code</label>
                                            <input class="form-control" placeholder="Code" name="code" v-model="unit.code" type="text" id="code" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="with-help">Title</label>
                                            <input class="form-control" placeholder="Title" name="title" v-model="unit.title" type="text" id="title" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="with-help">Description</label>
                                            <input class="form-control" placeholder="Description" name="description" v-model="unit.description" type="text" id="description" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="with-help">Files</label>
                                            <input type="file" class="form-control" v-on:change="onFileChange">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-right form-footer">
                            <button class="button delete" type="reset">Clear</button>
                            <button class="button save" type="submit">Save</button>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3"></div>
                </div>
            </form>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
export default {
    name: "UnitEditComponent",
    data() {
        return {
            courses: [],
            unit: {}
        }
    },
    created() {
        this.axios
            .get(`/api/course-unit/${this.$route.params.id}`)
            .then((res) => {
                this.unit = res.data.data;
            });
        this.axios
            .get('/api/courses/')
            .then(response => {
                this.courses = response.data.data;
            });
    },
    methods: {
        onFileChange(e){
            this.unit_file = e.target.files[0];
        },
        updateCourse() {
            this.axios
                .patch(`/api/course-unit/${this.$route.params.id}`, this.unit)
                .then((res) => {
                    this.$router.push({ name: 'unit' });
                });
        }
    }
}
</script>

<style scoped>

</style>
