<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Course Units</h3>
                    <div class="box-tools pull-right">
                        <router-link to="/unit/create" class="btn btn-primary">Add Course Units</router-link>
                    </div>
                </div> <!-- /.box-header -->
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Course</th>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Files</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="unit in units" :key="unit.id">
                            <td> {{ unit.course.code }} </td>
                            <td> {{ unit.code }} </td>
                            <td> {{ unit.title }} </td>
                            <td> {{ unit.description }} </td>
                            <td> {{ unit.unit_file }} </td>
                            <td>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Action
                                        <span class="fa fa-caret-down"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><router-link :to="{name: 'unit.edit', params: { id: unit.id }}"><button class="btn">Edit</button></router-link></li>
                                        <li><button class="btn" @click="deleteUnit(unit.id)">Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
export default {
    name: "UnitListComponent",
    data() {
        return {
            units: []
        }
    },
    created() {
        this.axios
            .get('/api/course-unit/')
            .then(response => {
                this.units = response.data.data;
            });
    },
    methods: {
        deleteUnit(id) {
            this.axios
                .delete(`/api/course-unit/${id}`)
                .then(response => {
                    let i = this.courses.map(data => data.id).indexOf(id);
                    this.courses.splice(i, 1)
                });
        }
    }
}
</script>

<style scoped>

</style>
