<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption><h3>Course Details <router-link to="/enrolled" class="btn btn-info pull-right"><i class="fa fa-angle-double-up"></i> Back to List</router-link></h3></caption>
                            <tbody>
                            <tr>
                                <th style="width:120px;">Code</th>
                                <th style="width:10px;">:</th>
                                <td>
                                   {{course.code}}
                                </td>
                            </tr>
                            <tr>
                                <th style="width:120px;">Title</th>
                                <th style="width:10px;">:</th>
                                <td>{{course.title}} </td>
                            </tr>
                            <tr>
                                <th style="width:120px;">Description</th>
                                <th style="width:10px;">:</th>
                                <td>{{course.description}}</td>
                            </tr>
                            <tr>
                                <th style="width:120px;">Thumbnails</th>
                                <th style="width:10px;">:</th>
                                <td> <img
                                    :src="'storage/course/' + course.thumbnails"
                                    class="img-responsive"
                                    height="35"
                                    width="70"
                                /> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
export default {
    name: "CourseDetailsComponent",
    data() {
        return {
            course: {}
        }
    },
    created() {
        this.axios
            .get(`/api/courses/${this.$route.params.id}`)
            .then((res) => {
                this.course = res.data.data;
            });
    }
}
</script>

<style scoped>

</style>
