<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Courses</h3>
                    <div class="box-tools pull-right">
                        <router-link to="/course/create" class="btn btn-primary">Add Course</router-link>
                    </div>
                </div> <!-- /.box-header -->
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Thumbnails</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="course in courses" :key="course.id">
                            <td> {{ course.code }} </td>
                            <td> {{ course.title }} </td>
                            <td> {{ course.description }} </td>
                            <td> <img
                                :src="'storage/course/' + course.thumbnails"
                                class="img-responsive"
                                height="35"
                                width="70"
                            /> </td>
                            <td>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Action
                                        <span class="fa fa-caret-down"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><router-link :to="{name: 'course.edit', params: { id: course.id }}"><button class="btn">Edit</button></router-link></li>
                                        <li><button class="btn" @click="deleteCourse(course.id)">Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>

export default {
    name: "CourseListComponent",
    data() {
        return {
            courses: []
        }
    },
    mounted() {
        this.getResults();
    },
    methods: {
        getResults() {
            axios.get('/api/courses/')
                .then(response => {
                    return (this.courses = response.data.data);
                });
        },
        deleteCourse(id) {
            this.axios
                .delete(`/api/courses/${id}`)
                .then(response => {
                    let i = this.courses.map(data => data.id).indexOf(id);
                    this.courses.splice(i, 1)
                });
        }
    }
}
</script>

<style scoped>

</style>
