<template>
<div class="wrapper">
    <header-component></header-component>
    <sidebar-component></sidebar-component>
    <div class="content-wrapper">
        <form method="POST" action="" @submit.prevent="addCourse" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <h3 class="box-title">
                        <router-link to="/course" class="btn btn-info pull-right"><i class="fa fa-angle-double-up"></i> Back to List</router-link>
                    </h3>
                    <div class="panel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="with-help">Code</label>
                                        <input class="form-control" placeholder="Code" name="code" v-model="code" type="text" id="code" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="with-help">Title</label>
                                        <input class="form-control" placeholder="Title" name="title" v-model="title" type="text" id="title" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="with-help">Description</label>
                                        <input class="form-control" placeholder="Description" name="description" v-model="description" type="text" id="description" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="with-help">Thumbnails</label>
                                        <input type="file" class="form-control" v-on:change="onFileChange">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right form-footer">
                        <button class="button delete" type="reset">Clear</button>
                        <button class="button save" type="submit">Save</button>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3"></div>
            </div>
        </form>
    </div>
    <footer-component></footer-component>
</div>
</template>

<script>

export default {
    name: "CourseAddComponent",
    data() {
        return {
            code: '',
            title: '',
            description: '',
            thumbnails: ''
        }
    },
    mounted() {
    },
    methods: {
        onFileChange(e){
            this.thumbnails = e.target.files[0];
        },
        addCourse() {
            const config = {
                headers: { 'content-type': 'multipart/form-data' }
            }
            let formData = new FormData();
            formData.append('code', this.code);
            formData.append('title', this.title);
            formData.append('description', this.description);
            formData.append('thumbnails', this.thumbnails);
            axios.post('/api/courses', formData, config)
                .then(response => {
                this.$router.push({ name: 'course' })
            })
        }
    }
}
</script>

<style scoped>

</style>
