<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Enrolled Courses</h3>
                </div>
                <div class="panel-body">
                    <div class="row" v-for="course in courses" :key="course.id">
                        <div class="col-md-4">
                            <div class="box box-widget widget-user-2">
                                <router-link :to="{name: 'course.show', params: { id: course.id }}">
                                <div class="widget-user-header bg-yellow">
                                    <div class="widget-user-image">
                                        <img :src="'storage/course/' + course.thumbnails" class="img-circle" alt="User Avatar" />
                                    </div>
                                    <h3 class="widget-user-username">{{ course.code }}</h3>
                                    <h5 class="widget-user-desc">{{ course.title }}</h5>
                                </div>
                                </router-link>
                                <br>
                                <div class="box-footer no-padding">
                                    <ul class="nav nav-stacked" v-for="unit in course.units" :key="unit.id">
                                        <router-link :to="{name: 'unit.show', params: { id: unit.id }}">
                                        <div class="btn btn-app" v-if="unit.status === 'Incomplete'" disabled>
                                            <li><strong>{{ unit.code }}</strong> <button @click.prevent="changeStatus(unit.id)" class="btn btn-success">Complete</button></li>
                                        </div>
                                        <div class="btn btn-app" v-else>
                                            <li><strong>{{ unit.code }}</strong> <button @click.prevent="changeStatus(unit.id)" class="btn btn-success">Complete</button></li>
                                        </div>
                                        </router-link>
                                        <br>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
export default {
    name: "EnrolledCourseComponent",
    data() {
        return {
            courses: []
        }
    },
    created() {
        this.axios
            .get('/api/enrolled/courses/')
            .then(response => {
                this.courses = response.data.data;
            });
    },
    methods: {
        changeStatus(id) {
            axios.post('/api/status/update', {
                unit_id: id,
            }).then(response => {
                this.$router.push({ path: '/enrolled' })
            })
        }
    }
}
</script>

<style scoped>

</style>
