<template>
    <div class="wrapper">
        <header-component></header-component>
        <sidebar-component></sidebar-component>
        <div class="content-wrapper">
            <div class="panel">
                <div class="box-header with-border">
                    <h3 class="box-title">Courses</h3>
                </div> <!-- /.box-header -->
                <div class="panel-body">
                    <div class="row" v-for="course in courses" :key="course.id">
                        <div class="col-md-3">
                            <!-- Widget: user widget style 1 -->
                            <div class="box box-widget widget-user-2">
                                <!-- Add the bg color to the header using any of the bg-* classes -->
                                <div class="widget-user-header bg-yellow">
                                    <div class="widget-user-image">
                                        <img :src="'storage/course/' + course.thumbnails" class="img-circle" alt="User Avatar" />
                                    </div>
                                    <h3 class="widget-user-username">{{ course.code }}</h3>
                                    <h5 class="widget-user-desc">{{ course.title }}</h5>
                                </div>
                                <br>
                                <button @click.prevent="enroll(course.id)" class="btn btn-success">Enroll</button>
                            </div>
                            <!-- /.widget-user -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer-component></footer-component>
    </div>
</template>

<script>
export default {
    name: "OfferCourseComponent",
    data() {
        return {
            courses: [],
            course_id: ''
        }
    },
    mounted() {
        this.getResults();
    },
    methods: {
        getResults(page = 1) {
            axios.get('/api/courses/')
                .then(response => {
                    this.courses = response.data.data;
                });
        },
        enroll(id) {
            axios.post('/api/enroll/courses', {
                course_id: id,
            }).then(response => {
                    this.$router.push({ path: '/offer' })
                })
        }
    }
}
</script>

<style scoped>

</style>
