<template>
    <div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                Developed by <a href="#">Sohana Kabir Barna</a>
            </div>
            <strong>Copyright &copy; 2021</strong> All rights
            reserved.
        </footer>
    </div>
</template>

<script>
export default {
    name: "FooterComponent"
}
</script>

<style scoped>

</style>
