<template>
    <div>
        <header class="main-header">

            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>P</b>L</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Laravel</b></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span class="hidden-xs">{{user.name}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        {{user.name}}
                                        <small>{{user.email}}</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                    </div>
                                    <div class="pull-right">
                                        <button @click.prevent="logOut()" class="btn btn-default btn-flat">Sign out</button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </header>
    </div>
</template>

<script>
export default {
    name: "HeaderComponent",
    data() {
        return {
            user:[],
        }
    },
    created() {
        this.axios
            .get('/api/user/')
            .then(response => {
                this.user = response.data.data;
            });
    },
    methods: {
        logOut() {
            axios.post('/api/logout', {
            }).then(response => {
                if (response.data.success) {
                    console.log('hhhh');
                    localStorage.removeItem('_auth_token');
                    this.$router.push({ path: '/login' })
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
