<template>
    <div>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left info">
                        <p>{{user.name}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="active">
                        <router-link to="/dashboard"><i class="fa fa-dashboard"></i>
                            <span>Dashboard</span></router-link>
                    </li>
                    <li class="active" v-if="user.type === 'Admin'">
                        <router-link to="/course"><i class="fa fa-dashboard"></i>
                            <span>Course</span></router-link>
                    </li>
                    <li class="active" v-if="user.type === 'Admin'">
                        <router-link to="/unit"><i class="fa fa-dashboard"></i>
                            <span>Unit</span></router-link>
                    </li>
                    <li class="active" v-if="user.type === 'Student'">
                        <router-link to="/offer"><i class="fa fa-dashboard"></i>
                            <span>Offer Course</span></router-link>
                    </li>
                    <li class="active" v-if="user.type === 'Student'">
                        <router-link to="/enrolled"><i class="fa fa-dashboard"></i>
                            <span>Enrolled Course</span></router-link>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
    </div>
</template>

<script>
export default {
    name: "SidebarComponent",
    data() {
        return {
            user:[],
        }
    },
    created() {
        this.axios
            .get('/api/user/')
            .then(response => {
                this.user = response.data.data;
            });
    }
}
</script>

<style scoped>

</style>
